#matchesButton{
 -fx-border-width: 0;
 -fx-border-color: transparent;
 -fx-background-color: #6c5ce7;
 -fx-padding: 10px 20px;
 -fx-font-size: 12px;
 -fx-font-weight: bold;
 -fx-text-fill: white;
 -fx-background-radius: 5px;
 -fx-background-insets: 0;
 -fx-effect: dropshadow(three-pass-box, #a29bfe, 0, 0, 0, 5);
 -fx-opacity: 1;
 -fx-cursor: hand;
 -fx-transition: all 0.1s ease;
 }

 #matchesButton:pressed{
-fx-translate-y: 5px;
-fx-effect: dropshadow(three-pass-box, #a29bfe, 0, 0, 0, 0);
  }


#submitButton{
-fx-border-width: 0;
 -fx-border-color: transparent;
 -fx-background-color: #6c5ce7;
 -fx-padding: 10px 20px;
 -fx-font-size: 12px;
 -fx-font-weight: bold;
 -fx-text-fill: white;
 -fx-background-radius: 5px;
 -fx-background-insets: 0;
 -fx-effect: dropshadow(three-pass-box, #a29bfe, 0, 0, 0, 5);
 -fx-opacity: 1;
 -fx-cursor: hand;
 -fx-transition: all 0.1s ease;
}
#submitButton:pressed{
-fx-translate-y: 5px;
-fx-effect: dropshadow(three-pass-box, #a29bfe, 0, 0, 0, 0);
  }


  #submitSpelling{
   -fx-border-width: 0;
   -fx-border-color: transparent;
   -fx-background-color: #6c5ce7;
   -fx-padding: 10px 20px;
   -fx-font-size: 12px;
   -fx-font-weight: bold;
   -fx-text-fill: white;
   -fx-background-radius: 5px;
   -fx-background-insets: 0;
   -fx-effect: dropshadow(three-pass-box, #a29bfe, 0, 0, 0, 5);
   -fx-opacity: 1;
   -fx-cursor: hand;
   -fx-transition: all 0.1s ease;
   }

   #submitSpelling:pressed{
  -fx-translate-y: 5px;
  -fx-effect: dropshadow(three-pass-box, #a29bfe, 0, 0, 0, 0);
    }

    #submitSpelling1{
     -fx-border-width: 0;
     -fx-border-color: transparent;
     -fx-background-color: #6c5ce7;
     -fx-padding: 10px 20px;
     -fx-font-size: 12px;
     -fx-font-weight: bold;
     -fx-text-fill: white;
     -fx-background-radius: 5px;
     -fx-background-insets: 0;
     -fx-effect: dropshadow(three-pass-box, #a29bfe, 0, 0, 0, 5);
     -fx-opacity: 1;
     -fx-cursor: hand;
     -fx-transition: all 0.1s ease;
     }

     #submitSpelling1:pressed{
    -fx-translate-y: 5px;
    -fx-effect: dropshadow(three-pass-box, #a29bfe, 0, 0, 0, 0);
      }


#translationButton{
   -fx-border-width: 0;
   -fx-border-color: transparent;
   -fx-background-color: #6c5ce7;
   -fx-padding: 10px 20px;
   -fx-font-size: 12px;
   -fx-font-weight: bold;
   -fx-text-fill: white;
   -fx-background-radius: 5px;
   -fx-background-insets: 0;
   -fx-effect: dropshadow(three-pass-box, #a29bfe, 0, 0, 0, 5);
   -fx-opacity: 1;
   -fx-cursor: hand;
   -fx-transition: all 0.1s ease;
   }

   #translationButton:pressed{
  -fx-translate-y: 5px;
  -fx-effect: dropshadow(three-pass-box, #a29bfe, 0, 0, 0, 0);
    }